{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="left"><h1 class="logo">Intern</h1></div>
      <div class="right">
        {% if user.is_authenticated %}
        <a href=" {% url 'logout' %} " class="auth-link">Logout</a>
        {% else %}
        <a href="{% url 'login' %}" class="auth-link">Login</a>
        {% endif %}
        <div class="">
          <p class="dull">Hello, {{user}}</p>
        </div>
      </div>
    </nav>
    <div class="main">{% block content %} {% endblock content %}</div>
    <div class="notification">
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
          {{ message }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </body>
</html>
