{% extends 'base.html' %} {% block content %}

<form action="" method="POST" class="search-form">
  <div class="row">
    {% csrf_token %}
    <label for="username">Username : </label>
    <input name="username" type="text" class="form-input" />
  </div>
  <input type="submit" value="submit" class="button" />
  {% if messages %}
  <p class="messages">
    {% for message in messages %}
    <p class="{{ message.tags }}">{{ message }}</p>
    {% endfor %}
  </p>
</form>

{% endif %} {% endblock content %}
